/* Grid Layout and Flexbox */
.page-grid,
.content-grid {
  display: grid;
}
.page-grid {
  grid-template-rows: 100px 70px;
}
.flex {
  display: flex;
}

/* Image Dimensions */
.notification-bell {
  height: 20px;
  width: 20px;
}
.profile-img {
  height: 30px;
  width: 30px;
}
.nav-icons a img {
  height: 1.5em;
  width: 1.5em;
}
img[src*="member-"] {
  height: 64px;
  width: 64px;
}

/* Main Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  color: #595959;
}
.main-heading span,
.alert span {
  font-weight: bold;
}
main > div,
.member ~ .member {
  border-top: 1px solid #595959;
}
h2,
h3 {
  font-weight: lighter;
  text-align: center;
}
.searchbar,
.stats-box {
  background-color: #ededed;
}
.svg-container,
img[src*="member-"],
.profile-img,
.notification-dot {
  border-radius: 50%;
}
nav {
  background-color: #5736b3;
}
header,
.svg-container,
.alert,
#send-button,
#save-button {
  background-color: #7146e8;
}
header,
input[type="submit"],
.alert {
  color: #fff;
}
input[type="submit"] {
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
}
input[type="search"], 
select {
  border-width: 1px;
  padding-top: .5em;
  padding-bottom: .5em;
}
input,
select,
.stats-box,
.alert {
  border-radius: 5px;
}
#cancel-button {
  background-color: #ccc;
}
.stats-box h4 {
  color: #7146e8;
}
.stats-box span {
  font-size: 40px;
}
.close {
  font-size: 2em;
}

/* Content Positioning */
header,
form,
.secondary-heading,
.new-members,
.recent-activities,
.message-user,
.settings, 
.settings-submit-buttons {
  flex-direction: column;
}
header {
  justify-content: space-around;
}
main > div {
  padding-bottom: 1em;
}
.searchbar {
  margin-bottom: 1em;
}
.searchbar input {
  margin: 1em auto;
  padding: .5em;
}
.main-heading,
.user-heading,
.nav-icons a,
.stats-box div,
.alert p:first-child,
.close {
  margin: auto;
}
.main-heading {
  font-weight: lighter;
  font-size: 1.5em;
}
.user-heading {
  justify-content: space-between;
}
.notification-bell, 
.profile-img, 
.username {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
}
.nav-icons {
  margin-top: 1.4em;
}
.canvas-container {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
.svg-container {
  width: 80px;
  height: 80px;
}
.svg-container svg {
  margin: 1em;
}
.stats-box {
  padding: 1em;
  margin: 1em;
  border: 1px solid #595959;
}
.stat-values h4 {
  margin-bottom: 0;
  margin-top: auto;
}
.member {
  display: block;
  text-align: center;
  padding-bottom: 1em;
}
.new-members .member p {
  margin-bottom: 0;
}
.member ~ .member {
  padding-top: 1.5em;
  margin-top: 1em;
}
.message-user,
.settings {
  padding-left: 1em;
  padding-right: 1em;
}
.message-user input,
.settings input {
  margin-top: 1em;
  margin-bottom: 1em;
}
.settings form > div {
  justify-content: space-between;
}
.settings select {
  margin: 1em 0;
}
.settings-submit-buttons input {
  margin: .5em 0;
}
form div div {
  margin-top: auto;
  margin-bottom: auto;
}
.alert {
  padding: .7em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  justify-content: space-between;
  display: none;
}
.notification-bell {
  position: relative;
}
.notification-dot {
  height: 5px;
  width: 5px;
  background-color: orange;
  position: absolute;
  top: -2px;
  left: 16px;
}
.notification-bell img:hover {
  transform: rotate(20deg);
}

/* Media Queries */
@media (min-width: 768px) {
  .notification-bell {
    border-right: black 1px solid;
    padding-right: 1em;
  }
  header {
    flex-direction: row;
  }
  .user-heading {
    margin-right: 1.5em;
  }
  .main-heading{
    margin-left: 1.5em;
  }
  .secondary-heading {
    flex-direction: row;
    margin-bottom: 1em;
  }
  .secondary-heading h2 {
    flex-basis: 25%;
  }
  .searchbar {
    flex-basis: 75%;
    border-left: 1px solid #595959;
    border-bottom: 1px solid #595959;
  }
  .searchbar input {
    margin-right: 4em;
    width: 300px;
  }
  .page-grid {
    grid-template-rows: 70px 70px;
  }
  .content-grid {
    grid-template-areas: 
      "s-heading s-heading"
      "alert alert"
      "web-traffic web-traffic"
      "daily-traffic mobile-user"
      "social-stats social-stats"
      "new-members new-members"
      "recent recent"
      "message-user message-user"
      "settings settings";
  }
  .secondary-heading {
    grid-area: s-heading;
  }
  .web-traffic-div {
    grid-area: web-traffic;
  }
  .daily-traffic-div {
    grid-area: daily-traffic;
  }
  .mobile-user-div {
    grid-area: mobile-user;
  }
  .social-stats {
    grid-area: social-stats;
  }
  .new-members {
    grid-area: new-members;
  }
  .recent-activities {
    grid-area: recent;
  }
  .message-user {
    grid-area: message-user;
  }
  .settings {
    grid-area: settings;
  }
  .alert {
    grid-area: alert;
  }
  .daily-traffic-div .canvas-container,
  .mobile-user-div .canvas-container {
    width: 45vw;
  }
  .new-members,
  .recent-activities {
    padding-left: 1em;
    padding-right: 1em;
  }
  .member {
    display: flex;
    justify-content: space-between;
  }
  .member div,
  .member time {
    margin-top: auto;
    margin-bottom: auto;
  }
  .member div {
    text-align: left; 
  }
  .new-members .member div {
    flex-basis: 70%;
  }
  .recent-activities .member div {
    flex-basis: 80%;
  }
  .settings form div:nth-child(1),
  .settings form div:nth-child(2) {
    padding-bottom: 10px;
  }
  .alert {
    width: 90%;
    padding: .2em;
  }
  .close {
    margin-left: 43%;
  }
}
 @media (min-width: 1024px) {
  .page-grid {
    grid-template-rows: 70px auto;
    grid-template-columns: 70px auto;
  }
  header {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  nav {
    grid-row-start: 2;
    grid-row-end: -1;
    flex-direction: column;
  }
  .nav-icons {
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
  }
  .content-grid {
    grid-template-areas: 
      "s-heading s-heading"
      "alert alert"
      "web-traffic web-traffic"
      "daily-traffic mobile-user"
      "social-stats social-stats"
      "new-members recent"
      "message-user settings";
  }
  .content-grid div h3 {
    text-align: left;
  }
  .web-traffic-div .canvas-container {
    width: 90vw;
  }
  .new-members,
  .recent-activities,
  .message-user form {
    justify-content: space-between;
  }
  .web-traffic-div,
  .new-members,
  .recent-activities {
    border-top: none;
  }
  .web-traffic-div,
  .daily-traffic-div,
  .mobile-user-div {
    padding: 1em;
  }
  .message-user form {
    height: 100%;
  }
  #user-message {
    height: 40%;
  }
  #send-button {
    margin-bottom: 0;
  }
  .social-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #595959;
  }
  .social-stats h3 {
    flex-basis: 100%;
    text-align: left;
    padding-left: 1em;
    margin-bottom: 0;
  }
  .stats-box {
    flex-grow: 1;
  }
  .daily-traffic-div,
  .new-members,
  .message-user {
    border-right: 1px solid #595959;
  }
  .recent-activities .member p:nth-child(1) {
    margin-bottom: 0;
  }
  .recent-activities .member p:nth-child(2) {
    margin-top: 0;
  }
  .member {
    min-height: 100px;
  }
  .member img, 
  .member p, 
  .member a {
    margin-top: auto;
    margin-bottom: auto;
  }
  .new-members .member div {
    flex-basis: 60%;
  }
  .settings-submit-buttons {
    flex-direction: row;
  }
  .settings-submit-buttons input {
    margin-bottom: 0;
    width: 47%;
  }
  form div div {
    margin-right: 33%;
  }
  .alert {
    width: 95%;
    padding: .3em;
  }
  .close {
    margin-left: 55%;
  }
} 