/* Grid Layout and Flexbox */
.page-grid,
.content-grid {
  display: grid;
}
.page-grid {
  grid-template-rows: 100px 70px;
}
.flex {
  display: flex;
}

/* Main Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  color: #595959;
}
.main-heading span {
  font-weight: bold;
}
main > div,
.member ~ .member {
  border-top: 1px solid #595959;
}
h2,
h3 {
  font-weight: lighter;
  text-align: center;
}
.searchbar,
.stats-box {
  background-color: #ededed;
}
.notification-bell {
  height: 20px;
  width: 20px;
}
.profile-img {
  height: 30px;
  width: 30px;
}
img[src*="member-"] {
  height: 64px;
  width: 64px;
}
.svg-container,
img[src*="member-"],
.profile-img {
  border-radius: 50%;
}
nav {
  background-color: #5736b3;
}
header,
.svg-container,
#send-button,
#save-button {
  background-color: #7146e8;
}
header,
input[type="submit"] {
  color: #fff;
}
input[type="submit"] {
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
}
input[type="search"] {
  border-width: 1px;
  padding-top: .5em;
  padding-bottom: .5em;
}
input,
select,
.stats-box {
  border-radius: 5px;
}
#cancel-button {
  background-color: #ccc;
}
.stats-box h4 {
  color: #7146e8;
}
.stats-box span {
  font-size: 40px;
}

/* Content Positioning */
header,
form,
.secondary-heading,
.new-members,
.recent-activities,
.message-user,
.settings, 
.settings-submit-buttons {
  flex-direction: column;
}
header {
  justify-content: space-around;
}
main > div {
  padding-bottom: 1em;
}
.searchbar {
  margin-bottom: 1em;
}
.searchbar input {
  margin: 1em auto;
  padding: .5em;
}
.main-heading,
.user-heading {
  margin: auto;
}
.main-heading {
  font-weight: lighter;
  font-size: 1.5em;
}
.user-heading {
  justify-content: space-between;
}
.notification-bell, 
.profile-img, 
.username {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
}
.nav-icons {
  margin-top: 1.4em;
}
.nav-icons img {
  height: 1.5em;
  width: 1.5em;
  margin: auto;
}
.svg-container {
  width: 80px;
  height: 80px;
}
.svg-container svg {
  margin: 1em;
}
.stats-box {
  padding: 1em;
  margin: 1em;
  border: 1px solid #595959;
}
.stats-box div {
  margin: auto;
}
.stat-values h4 {
  margin-bottom: 0;
  margin-top: auto;
}
.member {
  display: block;
  text-align: center;
  padding-bottom: 1em;
}
.new-members .member p {
  margin-bottom: 0;
}
.member ~ .member {
  padding-top: 1.5em;
  margin-top: 1em;
}
.message-user,
.settings {
  padding-left: 1em;
  padding-right: 1em;
}
.message-user input,
.settings input {
  margin-top: 1em;
  margin-bottom: 1em;
}
.settings form > div {
  justify-content: space-between;
}
.settings select {
  margin: 1em 0;
}
.settings-submit-buttons input {
  margin: .5em 0;
}

/* Toggle Switch */
.toggle { 
  position : relative ; 
  display : inline-block; 
  width : 120px; 
  height : 45px; 
  background-color: #7146e8; 
  border-radius: 30px; 
  border: 2px solid #595959; 
} 
      
/* After slide changes */
.toggle:after { 
  content: ''; 
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  background-color: #fff; 
  border: 1px solid #595959;
  top: 1px;  
  left: 1px; 
  transition: all 0.5s; 
} 
      
/* Toggle text */
.toggle-text {
  color: #fff;
  font-weight: bold;
  justify-content: space-between;
}
.toggle-text span {
  margin: 15px 7px;
}
      
/* Checkbox cheked effect */
.checkbox:checked + .toggle::after { 
  left : 77px;  
} 
      
/* Checkbox cheked toggle label bg color */
.checkbox:checked + .toggle { 
  background-color: #7146e8; 
} 
      
/* Checkbox vanished */
.checkbox {  
  display : none; 
} 

/* Media Queries */
@media (min-width: 768px) {
  .notification-bell {
    border-right: black 1px solid;
    padding-right: 1em;
  }
  header {
    flex-direction: row;
  }
  .user-heading {
    margin-right: 1.5em;
  }
  .main-heading{
    margin-left: 1.5em;
  }
  .secondary-heading {
    flex-direction: row;
    margin-bottom: 1em;
  }
  .secondary-heading h2 {
    flex-basis: 25%;
  }
  .searchbar {
    flex-basis: 75%;
    border-left: 1px solid #595959;
    border-bottom: 1px solid #595959;
  }
  .searchbar input {
    margin-right: 4em;
    width: 300px;
  }
  .page-grid {
    grid-template-rows: 70px 70px;
  }
  .content-grid {
    grid-template-areas: 
      "s-heading s-heading"
      "web-traffic web-traffic"
      "daily-traffic mobile-user"
      "social-stats social-stats"
      "new-members new-members"
      "recent recent"
      "message-user message-user"
      "settings settings";
  }
  .secondary-heading {
    grid-area: s-heading;
  }
  .web-traffic-div {
    grid-area: web-traffic;
  }
  .daily-traffic-div {
    grid-area: daily-traffic;
  }
  .mobile-user-div {
    grid-area: mobile-user;
  }
  .social-stats {
    grid-area: social-stats;
  }
  .new-members {
    grid-area: new-members;
  }
  .recent-activities {
    grid-area: recent;
  }
  .message-user {
    grid-area: message-user;
  }
  .settings {
    grid-area: settings;
  }
  .new-members,
  .recent-activities {
    padding-left: 1em;
    padding-right: 1em;
  }
  .member {
    display: flex;
    justify-content: space-between;
  }
  .member div,
  .member time {
    margin-top: auto;
    margin-bottom: auto;
  }
  .member div {
    text-align: left; 
  }
  .new-members .member div {
    flex-basis: 70%;
  }
  .recent-activities .member div {
    flex-basis: 80%;
  }
}
 @media (min-width: 1024px) {
  .page-grid {
    grid-template-rows: 70px auto;
    grid-template-columns: 70px auto;
  }
  header {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  nav {
    grid-row-start: 2;
    grid-row-end: -1;
    flex-direction: column;
  }
  .nav-icons {
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
  }
  .content-grid {
    grid-template-areas: 
      "s-heading s-heading"
      "web-traffic web-traffic"
      "daily-traffic mobile-user"
      "social-stats social-stats"
      "new-members recent"
      "message-user settings";
  }
  .new-members,
  .recent-activities,
  .message-user form {
    justify-content: space-between;
  }
  .web-traffic-div,
  .new-members,
  .recent-activities {
    border-top: none;
  }
  .message-user form {
    height: 100%;
  }
  .social-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #595959;
  }
  .social-stats h3 {
    flex-basis: 100%;
    text-align: left;
    padding-left: 1em;
    margin-bottom: 0;
  }
  .stats-box {
    flex-grow: 1;
  }
  .daily-traffic-div,
  .new-members,
  .message-user {
    border-right: 1px solid #595959;
  }
  .recent-activities .member p:nth-child(1) {
    margin-bottom: 0;
  }
  .recent-activities .member p:nth-child(2) {
    margin-top: 0;
  }
 }